#post {
    border-color: lightgray;
    border-radius: 5px;
    border-style: double;
    position: absolute;
    top: 120px;
}
#post div{
    background-color: rgba(255,255,255,0.67);   
}
body {
    margin: 25px 25px 0px 25px;
    position: relative;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.77);
    border-color: rgba(255, 255, 255, 0.77)
}
#brand_img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 50px;
}
