#post {
    border-color: white;
    border-radius: 5px;
    border-style: double;
    position: absolute;
    background-color: rgba(255,255,255,0.67);
    top: 130px;
}
#social_links{
    border-color: white;
    border-radius: 5px;
    border-style: double;
    float: right;
}
body {
    margin: 25px 150px 0px 130px;
    position: relative;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.77);
    border-color: rgba(255, 255, 255, 0.77)
}
#brand_img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 50px;
}
.post_content {
    
}
.post_header {
    color: black;
    font-weight: bold;
}
