
body {
  background-image: url(snow.gif);
  background-size: cover;
  padding-top: 70px;
}

.blur(){
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.blurry .blurrer {   
  height: 50px + 10px;
  top: -10px;
  left: -10px;
  right: -10px;
  position: absolute;
  overflow: hidden;

  .blur();
  z-index: -500;

  background-image: url(snow.gif);
  background-size: cover;
}

.blurry {
  background: none;
  color: white;
  border: none;

  .navbar-brand {
    color: white;
    font-weight: 600;
    text-shadow: none;

    &:hover {
      color: #516FC3;
    }
  }

  .navbar-nav>.open>a, 
  .navbar-nav>.active>a {
    color: #8B6B45;

    &:hover {
      color: #F17B16;
    }
  }

  .navbar-nav>li>a {
    color: #F4AD33;
    font-weight: 500;
    text-shadow: none;

    &:hover {
      color: #F17B16;
    }
  }
}
