RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
AuthName "Private Folder"
AuthUserFile /home/colin500/.htpasswd
AuthType Basic

Require valid-user 
