
body {
  background-image: url(snow.gif);
  background-size: cover;
  padding-top: 70px;
}

.navigation_link{
  background-color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10;
  font-style: normal;
}
